.meu-botao {
    display: none;
}



body {
    background-image: url(li.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    perspective: absolute;
    overflow: show;
    position: center;
}
